* {
    box-sizing: border-box;
}

body {
    background-image: url(img/background/bk3.jpg);
    background-size: cover;
    margin: 0px;
}

p {
    font-size: 20px;
    font-family: Arial;
}

header {
    margin: 0;
    padding: 20px;
}

.headerph {
    border-radius: 5%;
}

nav {

    margin: 20px;
    background-color: #fefae0;
    float: left;
    width: 10%;
    font-size: 20px;
    border-radius: 10%;
}

nav a {
    display: block;
    text-align: center;
    padding: 10px 20px;
}

nav a:hover {
    background-color: aqua;
    color: red;

}

.motto {
    margin: 20px 30px;
    padding: 30px;
    font-size: 50px;
    color: aqua;
    float: left;
    width: 60%;
    text-align: center;
    position: relative;
    top: 80px;

    font-family: 'Noto Serif JP', serif;
}

.motext {
    text-indent: 40%;
}

.myself {
    font-family: Arial;
    text-align: center;
    padding: 20px 10px;
    float: right;
    width: 20%;
    margin: 20px 10px;
    background-image: url(img/background/17.jpg);
    background-size: cover;
    border-radius: 10%;
    position: relative;
    top: 10px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.photo {
    border-radius: 50%;
}

.clearfix {
    clear: both;
}


.card {
    background-color: #06d6a0;
    /*background-image: url(img/18.jpg);*/
    background-size: cover;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 5%;

}

.Bstyle {
    position: relative;
    left: 150px;
    width: 70%;
    border: none;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}

.imgleft {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    padding: 20px 10px;
    float: left;

    transition-property: width, height;
    transition-duration: 1s;
}

.imgleft:hover {
    width: 320px;
    height: 320px;
}

.imgright {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    padding: 20px 10px;
    float: right;

    transition-property: width, height;
    transition-duration: 1s;
}

.imgright:hover {
    width: 320px;
    height: 320px;
}

.posright {
    position: relative;
    right: 20px;
}

.meterleft {
    font-size: 40px;
    float: left;

}

.meterright {
    font-size: 40px;
    float: right;
}

meter {
    color: beige;
}

.exptext {
    float: left;
    width: 50%;
}

.imgleft2 {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    padding: 20px 10px;
    float: left;

    transition-property: width, height;
    transition-duration: 1s;
}

.imgleft2:hover {
    width: 200px;
    height: 200px;
}


footer {
    background-color: antiquewhite;
    text-align: center;
    color: black;
    padding: 10px;
}

.jp {
    font-family: 'Noto Serif JP', serif;
}

.top {
    position: fixed;
    color: yellow;
    width: 100px;
    height: 100px;
    bottom: 0px;
    text-align: center;
    font-size: 20px;
}

.top div:hover {
    color: aqua;
}

.icon {
    background-color: antiquewhite;
    border-radius: 10%;
    position: fixed;
    padding: 10px;
    margin: 10px 5px;
    bottom: 0px;
    right: 0;
    width: 150px;
    height: 100px;
}

.iconimg {
    position: relative;
    top: 6px;
    padding: 10px;
    width: 60px;
    height: 60px;
}

.icon img:hover {
    background-color: aqua;
}

.book {
    width: 0px;
    position: absolute;
    left: 210px;
    transition: 0.5s;
}

a:hover+.book {
    width: 180px;
    background-color: aqua;
}

.container {
    margin: 10px 30px auto;
    width: 300px;
}

@keyframes bar {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes bar2 {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

@keyframes bar3 {
    from {
        width: 0;
    }

    to {
        width: 65%;
    }
}

@keyframes bar4 {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

@keyframes bar5 {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

@keyframes bar6 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

.java {
    height: 18px;
    border-radius: 30px;
    transition: 0.4s linear;
    width: 85%;
    background-color: #e5d9f2;
    animation: bar 3s;
    animation-iteration-count: infinite;
}

.python {
    height: 18px;
    border-radius: 30px;
    transition: 0.4s linear;
    width: 75%;
    background-color: #e5d9f2;
    animation: bar2 3s;
    animation-iteration-count: infinite;
}

.html {
    height: 18px;
    border-radius: 30px;
    transition: 0.4s linear;
    width: 65%;
    background-color: #e5d9f2;
    animation: bar3 3s;
    animation-iteration-count: infinite;
}

.Unity {
    height: 18px;
    border-radius: 30px;
    transition: 0.4s linear;
    width: 60%;
    background-color: #e5d9f2;
    animation: bar4 3s;
    animation-iteration-count: infinite;
}

.Unreal {
    height: 18px;
    border-radius: 30px;
    transition: 0.4s linear;
    width: 60%;
    background-color: #e5d9f2;
    animation: bar5 3s;
    animation-iteration-count: infinite;
}

.Japanese {
    height: 18px;
    border-radius: 30px;
    transition: 0.4s linear;
    width: 90%;
    background-color: #e5d9f2;
    animation: bar6 3s;
    animation-iteration-count: infinite;
}

.topgif {
    border-radius: 10%;
    width: 100px;
    height: 50px;

}